header{

    background-color: blueviolet; /*cor de fundo*/
    color: ghostwhite; /*cor do texto*/
    text-align: center;/*fonte no centro*/
    max-width: 800px;/*maxima largura*/
    margin: 0 auto;/*margens*/
    padding: 16px;/*espacamento interno*/
}

main{

  background-color: rgb(179, 179, 248);/*cor de fundo do texto principal*/
color: black;/*cor da fonte*/
text-align:center ;/*fonte no centro*/
max-width: 800px;/*maxima largura*/
margin: 0 auto;/*margens*/
}

footer{
background-color: rgb(241, 2, 241);/*cor de fundo do texto rodape*/
color: rgb(255, 255, 255);/*cor da fonte*/
}