header{
    background-color: blueviolet; /*cor de fundo*/
    color: ghostwhite; /*cor do texto*/
}

main{
background-color: rgb(179, 179, 248);
color: black;
}

footer{
background-color: fuchsia;
color: black;
}